$main-blue: #0084FF;
$white: #FFFFFF;
$text-black: #0C1116;
$icon-gray: #00000099;
$background-color: #F4F7F9;

$main-content-padding-horizontal: 144px;
$main-content-padding-vertical: 48px;
$h2-margin-bottom: 30px;

// NAVBAR
$navbar-blue: #00A6ED;
$navbar-padding-horizontal: 48px;
$navbar-background: #24292C;
$navbar-height: 64px;

// HOME
$home-list-filters-margin-bottom: 18px;
$home-list-filters-gap: 28px;

// MULTISELECT
$multiselect-padding-horizontal: 12px;
$multiselect-padding-vertical: 8px;
$selected-text-color: #000000DE;
$placeholder-text-color: #999999;
$dropdown-border-radius: 9px;
$dropdown-border-width: 1px;
$dropdown-overlay-offset: 2px;
$dropdown-overlay-border-radius: 16px;
$dropdown-overlay-max-height: 200px;

// TICKET STATUS BADGES
$status-new: #0084FF;
$status-in-progress: #CA8A04;
$status-closed: #128334;
